## CUSTOMER SEGMENTATION ANALYSIS

In [123]:
# Optional code block 
# to check/change the working directory on my PC

import os 
# Confirm current working directory
print(os.getcwd())
# to change the working directory on my PC
os.chdir("C:/Users/oyeor/Documents/GitHub/customer-segmentation-analysis")

C:\Users\oyeor\Documents\GitHub\customer-segmentation-analysis

## 1.0 Load Raw Dataset

In [124]:
import pandas as pd

# Load Excel file
xls = pd.ExcelFile("data/raw/online_retail_II.xlsx")

# Show sheet names
print(xls.sheet_names)

# Load a specific sheet (e.g., 'Year 2010-2011')
df = xls.parse('Year 2010-2011')

# Preview
display(df.shape, df.head())

['Year 2009-2010', 'Year 2010-2011']

(541910, 8)

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

## 2.0 Initial Data Exploration

In [125]:
df.info()                # check data types
df.isnull().sum()        # count missing

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541910 entries, 0 to 541909
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Invoice      541910 non-null  object
 1   StockCode    541910 non-null  object
 2   Description  540456 non-null  object
 3   Quantity     541910 non-null  int64
 4   InvoiceDate  541910 non-null  datetime64[ns]
 5   Price        541910 non-null  float64
 6   Customer ID  406830 non-null  float64
 7   Country      541910 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB

Invoice             0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
Price               0
Customer ID    135080
Country             0
dtype: int64

In [126]:
df.describe()      # decriptive statistics

,Quantity,InvoiceDate,Price,Customer ID
count,541910.000000,541910,541910.000000,406830.000000
mean,9.552234,2011-07-04 13:35:22.342307584,4.611138,15287.684160
min,-80995.000000,2010-12-01 08:26:00,-11062.060000,12346.000000
25%,1.000000,2011-03-28 11:34:00,1.250000,13953.000000
50%,3.000000,2011-07-19 17:17:00,2.080000,15152.000000
75%,10.000000,2011-10-19 11:27:00,4.130000,16791.000000
max,80995.000000,2011-12-09 12:50:00,38970.000000,18287.000000
std,218.080957,NaN,96.759765,1713.603074

## 3.0 Data Cleaning

In [127]:
# Rename Customer ID column 
df.rename(columns = {"Customer ID" : "CustomerID"}, inplace = True)

# Drop null Customer ID
df.dropna(subset = ["CustomerID"], inplace = True)

# Convert Customer ID to string
df["CustomerID"] = df["CustomerID"].astype(int).astype(str)

## Alternatively if you want to fill in the missing values after converting
## df["Customer_ID"] = df["Customer_ID"].astype("Int64").astype(str)

In [128]:
# Remove order returns (Invoice that starts with "C")

df = df[~df["Invoice"].astype(str).str.startswith("C")]  # ~ inverts the series i.e true becomes false

In [129]:
# Create Total price column

df["TotalPrice"] = df["Price"] * df["Quantity"]

In [130]:
# Filter United kingdom(UK) only

df_uk = df[df["Country"] == "United Kingdom"]

In [131]:
# Filter out negative Price and Quantity

df_uk = df_uk[(df_uk["Price"] > 0) & (df_uk["Quantity"] > 0 )]

In [132]:
df.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,CustomerID,Country,TotalPrice
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

In [134]:
# save processed data for further analysis

df_uk.to_csv("data/processed/online_retail_cleaned.csv", index = False)