## CUSTOMER SEGMENTATION ANALYSIS

In [10]:
# Optional code block
# to check/change the working directory on my PC

import os 
# Confirm current working directory
print(os.getcwd())
# to change the working directory on my PC
os.chdir("C:/Users/oyeor/Documents/GitHub/customer-segmentation-analysis")

C:\Users\oyeor\Documents\GitHub\customer-segmentation-analysis

## 1.0 Load the Cleaned Dataset

In [11]:
import pandas as pd

df = pd.read_csv("data/processed/online_retail_cleaned.csv", parse_dates = ["InvoiceDate"])
display(df.shape, df.head())

(354321, 9)

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,CustomerID,Country,TotalPrice
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

In [12]:
df.info()   # check data type and missing values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 354321 entries, 0 to 354320
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Invoice      354321 non-null  int64
 1   StockCode    354321 non-null  object
 2   Description  354321 non-null  object
 3   Quantity     354321 non-null  int64
 4   InvoiceDate  354321 non-null  datetime64[ns]
 5   Price        354321 non-null  float64
 6   CustomerID   354321 non-null  int64
 7   Country      354321 non-null  object
 8   TotalPrice   354321 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(3), object(3)
memory usage: 24.3+ MB

## 2.0 RFM (Recency, Frequency & Monetary)

In [23]:
# Set reference date 

reference_date = df["InvoiceDate"].max()
print(f"Reference date for Recency: {reference_date}")  # date we are measuring from

Reference date for Recency: 2011-12-09 12:49:00

In [24]:
# RFM calculation

rfm = df.groupby("CustomerID").agg({
    "InvoiceDate" : lambda x: (reference_date - x.max()).days,
    "Invoice" : "nunique",
    "TotalPrice" : "sum"
}).reset_index()

In [25]:
# Rename columns

rfm.columns = ["CustomerID", "Recency", "Frequency", "Monetary"]
rfm.head()

   CustomerID  Recency  Frequency  Monetary
0       12346      325          1  77183.60
1       12747        1         11   4196.01
2       12748        0        209  33719.73
3       12749        3          5   4090.88
4       12820        2          4    942.34

In [26]:
# Save processed data for clustering

rfm.to_csv("data/processed/rfm_metrics.csv", index = False)